seguipro/build
seguipro/.dart_tool
seguipro/.packages
seguipro/.pub-cache
seguipro/.pub
seguipro/.flutter-plugins
seguipro/.flutter-plugins-dependencies
seguipro/.metadata
seguipro/analysis_options.yaml
seguipro/ios
seguipro/android
seguipro/linux
seguipro/macos
seguipro/windows
seguipro/test
seguipro/.git
seguipro/.gitignore
seguipro/README.md
seguipro/INSTRUCCIONES.md
seguipro/SOLUCION_ADJUNTAR_ARCHIVOS.md
seguipro/CORRECCION_ADJUNTOS.md
